@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

.App {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', monospace;
  background-color: #fbfbfb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

input {
  margin: 5px 10px 10px;
  width: 100px;
}

label {
  font-weight: bold;
}

.button {
  border: 0;
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}